<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d553d38e-2725-47de-92c6-67510d0da3ea/resourceGroups/practicaWebAPI20180403065605ResourceGroup/providers/Microsoft.Web/sites/practicaWebAPI20180403065605</ResourceId>
    <ResourceGroup>practicaWebAPI20180403065605ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://practicawebapi20180403065605.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>practicawebapi20180403065605.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>practicaWebAPI20180403065605</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$practicaWebAPI20180403065605</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="practicaWebAPIContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:dbapiserver.database.windows.net,1433;Initial Catalog=dbAPI;User ID=adminn;Password=1234izcbMj1z2x" />
          <Object Type="DbDacFx" Enabled="True">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|practicaWebAPIContext-20180403183427.mdf;Initial Catalog=practicaWebAPIContext-20180403183427;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\practicaWebAPIContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=practicaWebAPIContext-20180403183427; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|practicaWebAPIContext-20180403183427.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="practicaWebAPIContext-Web.config Connection String">
      <ParameterValue>data source=tcp:dbapiserver.database.windows.net,1433;initial catalog=dbAPI;user id=adminn;password=1234izcbMj1z2x;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>